.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}
@media (max-width: 575px) {
  .andro_responsive-table td {
    padding: 5px;
    font-size: 13px;
  }

  .andro_responsive-table td:last-of-type {
    border-bottom: 1px solid #f0f2f3;
  }

  .andro_responsive-table tr {
    border-bottom: 10px solid #fff;
  }

  .andro_responsive-table td .close-btn {
    width: 25px;
    height: 25px;
  }

  .andro_responsive-table td::before {
    font-size: 11px;
  }

  .andro_cart-product-wrapper h6 {
    font-size: 12px;
  }

  .andro_responsive-table td .qty input {
    height: 40px;
  }
}
